<%= form_tag "/form_result", method: :post do %>
  <div>
    Enter your message: <input type="text" name="form_message">
    <%= text_field_tag %>
  </div>
  <input type="submit" value="Submit message!">
<% end %>